body {
  background-color: #ffde00;
  color: #367c2b;
  font-family: "Century Gothic", CenturyGothic, sans-serif;
}
div {
  float: right;
}
h3 {
  background-color: #367c2b;
  color: #ffde00;
  padding: 0.2rem;
  border-radius: 20%;
  display: inline;
  cursor: pointer;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}
h3:hover {
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.1);
}

h3:active {
  color: #ffe640;
  background-color: #52bc41;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}
